@import "tailwindcss";
.details{
    margin-top: 50px;
    padding : 0 20px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-style: 28px;
    margin-top: -6px;
}

.weather {
    display : none ;
}